{% extends 'App/layout.html' %}
{% block content %}
    <br>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <div class="container">
        <div class="row justify-content-around">
            <div class="graph col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="" id="myChart"></div>
            </div>
            <div class="graph col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="" id="chickenChart"></div>
            </div>
            <div class="graph col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="" id="seafoodChart"></div>
            </div>
            <div class="graph col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="" id="muttonChart"></div>
            </div>
        </div>
    </div>
{% endblock %}