<div class="modal fade" id="editModal" tabindex="-1" >
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title">Search...</h4>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form method="GET" class="txt-dark">
				{{myFilter.form.as_p}}
				<div class="modal-footer">
					<a class="btn btn-orange" data-bs-dismiss="modal">Close</a>
					<input type="submit" class="btn btn-sucess" value="Search"/>
				  </div>
			</form>
		</div>
	  </div>
	</div>
  </div>